// 字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Saira+Condensed:wght@300&family=Shrikhand&display=swap');

// icon
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

*{
  // outline: 1px solid red;
}

body{
  @include Pad(){
    padding-top: 74px;
  }
  padding-top: 72px;
}
img{
  display: block;
  max-height: 100%;
}

form{
  font-size: 16px;
  @include Pad(){
    font-size: 20px;
  }
  ::placeholder{
    color: #1F0F39;
  }
  textarea{
    resize: none;
  }
}
