// 字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Saira+Condensed:wght@300&family=Shrikhand&display=swap');

// icon
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


body{
  // background: #31095f;
  // background: #000;
  padding-top: 73px;
}
img{
  display: block;
  max-height: 100%;
}
//英文
.text-Shrikhand{
    font-family: 'Shrikhand', cursive;
}
//大數字
.text-Saira{
  font-family: 'Saira Condensed', sans-serif;
}

.material-symbols-outlined {
    vertical-align: middle;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.line-bg-gradient{
  height: 40px;
  width: 100%;
  background-image: linear-gradient(to right, #7000FF, #11002D);
}
.letter-spacing-L{
  letter-spacing: 1em;
}
.text-align-justify{
  text-align-last: justify;
}
.bg-gradient-light{
  background:radial-gradient(circle at center,#000,#28085C);
}
.bg-gradient-dark{
  background:radial-gradient(circle at center,#28085C,#000);
}

.share-list{
  .list-item .card{
    height: 416px;
  }
  .material-symbols-outlined{
    font-variation-settings:
    'FILL' 1,
  }
}
form{
  input,textarea{
    display: block;
    width: 100%;
    margin-bottom: 16px;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 0;
    resize: none;
  }
  ::placeholder{
    color: #1F0F39;
  }
  button{
    width: 70%;
    position: relative;
    left: 30%;
  }
}
.fs-400{
  font-size: 400px;
}