.hover-opacity{
    &:hover{
      opacity: 0.8;
    }
  }
.hover-shadow{
    &:hover{
        transition: all 0.4s;
        box-shadow: 0px 0px 16px 8px #8F00FFCC;
    }
}
.hover-arrow-move{
    &:hover{
        .arrow{
            margin-left: 12px;
            transition: all 0.4s;
        }
    }
}
.hover-Title-underline{
    .Title::after{
        transition: all 0.4s;
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        @include Pad(){
            width: 0px;
        }
    }
    &:hover{
        .Title::after{
            width: 100%;
        }
    }
}
.hover-secondary{
    &:hover{
      color: $secondary;
      transition: all 0.4s;
    }
  }
.hover-bg-secondary{
    &:hover{
        background: $secondary;
        color: #fff;
        border-color: $secondary;
        transition: all 0.4s;
    }
}