<footer class="bg-white">
    <div class="container d-flex justify-content-between align-items-center py-7">
        <div>
            <div class="text-Shrikhand h4">ALPHABOX+</div>
            <div>Copyright © 2023 Hexschool.</div>
        </div>
        <span class="material-symbols-outlined fs-2">
            emergency
            </span>
        <ul class="list-unstyled fw-bold d-flex gap-5 mb-0">
            <li><a href="javascript:;" class="link-dark-2">關於我們</a></li>
            <li><a href="javascript:;" class="link-dark-2">產品資訊</a></li>
            <li><a href="javascript:;" class="link-dark-2">常見問題</a></li>
            <li><a href="javascript:;" class="link-dark-2">隱私政策</a></li>
        </ul>
    </div>
</footer>