<nav class="bg-primary position-fixed w-100 top-0 z-index-100">
    <div class="container d-flex justify-content-between align-items-center py-4">
        <a href="index.html" class="text-Shrikhand h4 text-white"><h1></h1>ALPHABOX+</h1></a>
        <ul class="list-unstyled d-flex mb-0 mygap-40">
            <li><a href="product-Diane.html">產品</a></li>
            <li><a href="about.html">關於我們</a></li>
            <li><a href="news.html">最新消息</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
            <li><a href="contact.html">聯絡我們</a></li>
        </ul>
        <div class="d-flex align-items-center">
            <ul class="list-unstyled link-white d-flex gap-4 mb-0 me-6">
                <li><a href="SignUp.html">註冊</a></li>
                <li><a href="SignIn.html">登入</a></li>
            </ul>
            <button class="btn btn-white py-2 px-4 d-flex align-items-center hover-secondary">
                <span class="material-symbols-outlined me-1">
                    point_scan
                    </span>訂閱
            </button>
        </div>
    </div>
</nav>