<nav class="bg-primary border-bottom border-white position-fixed w-100 top-0">
    <div class="container d-flex justify-content-between align-items-center py-4">
        <a href="index.html" class="text-Shrikhand h4 link-white"><h1></h1>ALPHABOX+</h1></a>
        <ul class="list-unstyled d-flex gap-5 mb-0">
            <li><a href="javascript:;" class="link-white">產品</a></li>
            <li><a href="javascript:;" class="link-white">關於我們</a></li>
            <li><a href="javascript:;" class="link-white">最新消息</a></li>
            <li><a href="javascript:;" class="link-white">FAQ</a></li>
            <li><a href="javascript:;" class="link-white">聯絡我們</a></li>
        </ul>
        <div class="d-flex align-items-center">
            <ul class="list-unstyled link-white d-flex gap-4 mb-0 me-6">
                <li><a href="javascript:;" class="link-white">註冊</a></li>
                <li><a href="javascript:;" class="link-white">登入</a></li>
            </ul>
            <a href="" class="btn btn-white py-2 px-4 d-flex align-items-center">
                <img src="../assets/images/point_scan.png" alt="" class="me-2">訂閱
            </a>
        </div>
    </div>
</nav>