<nav class="navbar bg-black py-0">
    <div class="container overflow-hidden">
        <ul class="d-flex justify-content-between justify-content-md-center list-unstyled mb-0 fs-sm16-md24 w-100 py-4">
            <li class="mx-md-3">
                <a href="product-Diane.html" class="btn btn-outline-white rounded-pill text-Shrikhand hover-secondary py-1 px-4 px-md-9 <%= page === 'Diane' ? 'bg-white text-black' : 'text-dark ' %>">Diane</a></li>
            <li class="mx-md-3">
                <a href="product-Felix.html" class="btn btn-outline-white rounded-pill text-Shrikhand hover-secondary py-1 px-4 px-md-9 <%= page === 'Felix' ? 'bg-white text-black' : ' ' %>">Felix</a>
            </li>
            <li class="mx-md-3">
                <a href="product-Karina.html" class="btn btn-outline-white rounded-pill text-Shrikhand hover-secondary py-1 px-4 px-md-9 <%= page === 'Karina' ? 'bg-white text-black' : ' ' %>">Karina</a>
            </li>
            <li class="mx-md-3">
                <a href="product-Vito.html" class="btn btn-outline-white rounded-pill text-Shrikhand hover-secondary py-1 px-4 px-md-9 <%= page === 'Vito' ? 'bg-white text-black' : ' ' %>">Vito</a>
            </li>
        </ul>
    </div>
</nav>