<nav class="product-nav bg-black position-fixed w-100 d-flex justify-content-center py-4">
    <ul class="list-unstyled d-flex gap-5 mb-0">
        <li><a href="prduct-Diane.html" class="btn btn-outline-white rounded-pill text-Shrikhand fs-5 px-9 <%= page === 'Diane' ? 'active' : ' ' %>">Diane</a></li>
        <li><a href="prduct-Felix.html" class="btn btn-outline-white rounded-pill text-Shrikhand fs-5 px-9 <%= page === 'Felix' ? 'active' : ' ' %>">Felix</a></li>
        <li><a href="" class="btn btn-outline-white rounded-pill text-Shrikhand fs-5 px-9">Karina</a></li>
        <li><a href="" class="btn btn-outline-white rounded-pill text-Shrikhand fs-5 px-9">Vito</a></li>
    </ul>
</nav>