nav{
  z-index: 100;
}
.Nav{
  .gap-40{
    gap: 40px;
  }
  a:hover:not([href="index.html"]){
    opacity: 0.8;
  }
  button:hover{
    color: $secondary;
  }
}
.product-nav{
  top: 73px;
  
  .btn:hover{
    color: $secondary;
  }
  .btn.active{
    background: #fff;
    color: #000;
  }
}