.bg-images{
  // height: 2049px;
  // width: 100%;
  // top: 0;
  // z-index: -1;
  background-image: url('/assets/images/home_background.png'),linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, #000 65%),url('/assets/images/carousel_background.png') ;
  background-size: 100% 960px, 100% 100%, 980px 1089px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
    top left,
    bottom right,
    bottom left;
}
.pic{
  min-height: auto;
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  @include Pad(){
    min-height: 676px;
  }
}

.bg-text{
  // font-size: 128px;
  line-height: 0.1;
  // @include Pad(){
  //   font-size: 400px;
  // }
  opacity: 0.04;
  // text-align: center;
}
.share-list{
  .card{
    @include Pad(){
      height: 416px;
    }
    height: 351px;
  }
  // overflow-x: scroll;
  .box{
    height: 416px;
    max-width: 416px;
    flex-shrink: 0;
    background: white;
  }
}
.ai-card-list{
  a{
    background-color: rgba(0, 0, 0, 0.5);
  }
  @include Pad(){
    a{
      background-color: black;
      transition: all 0.4s;
      &:hover{
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  .list-item{
    background-size: cover;
    background-position: center;
  }
  .list-item:nth-of-type(1){
    background-image: url('/assets/images/diane_vertical.png');
  }
  .list-item:nth-of-type(2){
    background-image: url('/assets/images/felix_vertical.png');
  }
  .list-item:nth-of-type(3){
    background-image: url('/assets/images/karina_verticalgle.png');
  }
  .list-item:nth-of-type(4){
    background-image: url('/assets/images/vito_vertical.png');
  }
}