.product-banner{
    padding-top: 75px;
}
.circle-wrap{
    z-index: 20;
}
.carousel-control-prev,.carousel-control-next{
    &:hover{
        color: $secondary;
        transition: all 0.4s;
    }
}
.info-list{
    h4{
        position: relative;
    }
    h4::after{
        transition: all 0.4s;
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        // width: 100%;
        width: 0px;
        height: 2px;
        background: #000;
    }
    li:hover{
        h4::after{
            width: 100%;
        }
    }
}