<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+</title>
    <link rel="shortcut icon" href="../assets/images/favicon.ico" />
  </head>
  <body class="position-relative bg-primary-light">
    <%- include('./layout/nav'); -%>

    <!-- FAQ -->
    <div class="container pt-8 pb-9 text-dark-2 FAQ">
      <h3 class="h3 fw-bolder mb-8 letter-spacing-L mb-8 pb-2">FAQ</h3>
      <div class="row FAQ-info">
        <!-- aside -->
        <div class="col-4 pt-6 d-flex flex-column">
          <a href="javascript:;" class="text-black mb-4">ALPHABOX+ 使用問題</a>
          <a href="javascript:;" class="text-black mb-4">訂購與運送</a>
          <a href="javascript:;" class="text-black mb-4">產品保養與維修</a>
        </div>
        <!-- 手風琴 -->
        <div class="col-8">
          <div class="accordion" id="accordionExample">
            <!-- 1 -->
            <div class="item">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ALPHABOX+ 的使用方式是什麼？<span class="material-symbols-outlined">
                        add
                        </span>
                </button>
                <div id="collapseOne" class="accordion-collapse collapse pe-8" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <p class="pb-7 fw-light">
                        首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </p>
                </div>
            </div>
            <!-- 2 -->
            <div class="item">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    ALPHABOX+ 需要什麼樣的環境來使用？<span class="material-symbols-outlined">
                        add
                        </span>
                </button>
                <div id="collapseTwo" class="accordion-collapse collapse pe-8" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <p class="pb-7 fw-light">
                        首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </p>
                </div>
            </div>
            <!-- 3 -->
            <div class="item">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    ALPHABOX+ 支援哪些語言？<span class="material-symbols-outlined">
                        add
                        </span>
                </button>
                <div id="collapseThree" class="accordion-collapse collapse pe-8" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <p class="pb-7 fw-light">
                        首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </p>
                </div>
            </div>
            <!-- 4 -->
            <div class="item">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    購買 ALPHABOX+ 後的售後服務如何？<span class="material-symbols-outlined">
                        add
                        </span>
                </button>
                <div id="collapseFour" class="accordion-collapse collapse pe-8" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <p class="pb-7 fw-light">
                        首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </p>
                </div>
            </div>
            <!-- 5 -->
            <div class="item">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    ALPHABOX+ 與其他智能家居設備的相容性如何？<span class="material-symbols-outlined">
                        add
                        </span>
                </button>
                <div id="collapseFive" class="accordion-collapse collapse pe-8" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <p class="pb-7 fw-light">
                        首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </p>
                </div>
            </div>
            <!-- 6 -->
            <div class="item">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    ALPHABOX+ 的軟體更新方式為何？<span class="material-symbols-outlined">
                        add
                        </span>
                </button>
                <div id="collapseSix" class="accordion-collapse collapse pe-8" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <p class="pb-7 fw-light">
                        首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                    </p>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
