<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body class="position-relative">
    <%- include('./layout/nav'); -%>

    <div class="bg-images position-absolute"></div>

    <div class="container-fluid text-white pt-8 pb-3">
      <div class="row mb-8">
        <div class="col-3 d-flex flex-column justify-content-end">
          <div class="border-bottom fw-bold">最新消息！新版本 v15.4 釋出，搶先體驗！</div>
        </div>
        <div class="col-6">
          <img src="../assets/images/circle.png" alt="" class="circle mx-auto">
        </div>
        <div class="col-3 d-flex flex-column justify-content-between">
          <div class="border-top fw-bold">ALPHABOX+ STUDIO</div>
          <div>Copyright © 2023 Hexschool.</div>
        </div>
      </div>
      <div class="row banner mb-7">
        <div class="col-3">
          <img src="../assets/images/diane.png" alt="Diane" class="img-fluid">
        </div>
        <div class="col-6 text-center d-flex flex-column">
          <!-- ? 這邊的 text-align-justify 無效 -->
          <h2 class="text-Shrikhand h4 text-align-justify">ALPHABOX+</h2>
          <p class="fw-bold text-align-justify">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
          <div class="d-flex gap-5 mt-auto">
            <div class="pic w-50">
              <img src="../assets/images/felix.png" alt="Felix" class="img-fluid">
            </div>
            <div class="pic w-50">
              <img src="../assets/images/karina.png" alt="Karina" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-3">
          <img src="../assets/images/vito.png" alt="vito" class="img-fluid">
        </div>
      </div>
      <!-- 漸層線 -->
      <div class="line-bg-gradient mb-2"></div>

      <h3 class="h3 mb-3 letter-spacing-L">什麼是</h3>
      <h3 class="h3 letter-spacing-L">ALPHABOX+</h3>

      <hr class="mb-6">

      <div class="row align-items-center mb-6">
        <!-- 箭頭 -->
        <div class="col-2">
          <a href="javascript:;">
            <img src="../assets/images/line_start_arrow_notch.png" alt="" class="me-auto">
          </a>
        </div>
        <div class="col-8 position-relative">
          <!-- 大圖 -->
          <img src="../assets/images/carousel.png" alt="" class="img-fluid">
          <!-- 圖中字 -->
          <div class="position-absolute top-50 end-0 translate-middle-y text-end pe-7">
            <div class="h1 text-Shrikhand">01</div>
            <div class="h4 mb-4 text-align-justify">立體投影技術</div>
            <p class="h6">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
          </div>
        </div>
        <!-- 箭頭 -->
        <div class="col-2">
          <a href="javascript:;">
            <img src="../assets/images/line_end_arrow_notch.png" alt="" class="ms-auto">
          </a>
        </div>
      </div>

      <!-- 漸層線 -->
      <div class="line-bg-gradient mb-7"></div>
    </div>

    <!-- 最新消息 -->
    <div class="bg-gradient-dark text-white fw-bold">
      <div class="container pt-10">
        <h3 class="h3 letter-spacing-L mb-7">最新消息</h3>
        <!-- 區塊 -->
        <div class="row border-top border-bottom mb-9">
          <!-- 上 -->
          <div class="col-12 py-7 border-bottom">
            <div class="letter-spacing-L mb-2">
              <span class="material-symbols-outlined me-4">
                emergency
                </span>2023.06.30
            </div>
            <div class="h5 letter-spacing-L mb-3">產品升級公告</div>
            <div class="row">
              <div class="col-9">
                <p>榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
              </div>
              <div class="col-3">
                <a href=""><img src="../assets/images/line_end_arrow_notch.png" alt="" class="ms-auto"></a>
              </div>
            </div>
          </div>
          <!-- 下左 -->
          <div class="col-6 py-7 border-end">
            <div class="letter-spacing-L mb-2">
              <span class="material-symbols-outlined me-4">
                emergency
                </span>2023.06.30
            </div>
            <div class="h5 letter-spacing-L mb-3">限時優惠活動</div>
            <p class="mb-3">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
            <a href=""><img src="../assets/images/line_end_arrow_notch.png" alt="" class="me-auto"></a>
          </div>
          <!-- 下右 -->
          <div class="col-6 py-7">
            <div class="letter-spacing-L mb-2">
              <span class="material-symbols-outlined me-4">
                emergency
                </span>2023.04.18
            </div>
            <div class="h5 letter-spacing-L mb-3">新功能上線</div>
            <p class="mb-3">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
            <a href=""><img src="../assets/images/line_end_arrow_notch.png" alt="" class="me-auto"></a>
          </div>
        </div>
        <!-- 查看更多 圈圈 -->
        <div class="position-relative mb-8">
          <img src="../assets/images/Linked Path Group.png" alt="" class="mx-auto">
          <div class="position-absolute top-50 start-50 translate-middle">查看更多</div>
        </div>
        <div class="text-end pt-7 pb-7">
          為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料
        </div>
      </div>
    </div>

    <!-- 使用分享 -->
    <div class="bg-gradient-light text-white fw-bold position-relative overflow-hidden">
      <div class="position-absolute bg-text text-Shrikhand">ALPHABOX+</div>
      <div class="container pt-10 pb-7">
        <div class="d-flex align-items-center mb-4">
          <h3 class="h3 letter-spacing-L">使用分享</h3>
          <div class="flex-grow-1 text-center">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</div>
        </div>
        <div class="d-flex mb-7">
          <div class="me-1">01</div>
          <div class="me-1"><span class="material-symbols-outlined">
            horizontal_rule
            </span></div>
          <div>04</div>
        </div>
        <span class="material-symbols-outlined fs-2 mb-5">
          emergency
          </span>
        <!-- Swiper -->
        <ul class="row share-list list-unstyled mb-6">
          <!-- card-1 -->
          <li class="col-4 list-item">
            <div class="card bg-primary p-7">
              <div class="d-flex align-items-center mb-6">
                Zona<span class="material-symbols-outlined fs-8 mx-2">
                  radio_button_unchecked
                  </span>Taipei
              </div>
              <p>
                ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
              </p>
              <div class="d-flex align-items-center mt-auto">
                <span class="material-symbols-outlined fs-6 me-4">
                  radio_button_unchecked
                  </span><span class="material-symbols-outlined fs-6 me-4">
                    radio_button_unchecked
                    </span>ALPHABOX+ Dianne
              </div>
            </div>
          </li>
          <!-- card-2 -->
          <li class="col-4 list-item text-black">
            <div class="card p-7">
              <div class="d-flex align-items-center mb-6">
                Lin <span class="material-symbols-outlined fs-8 mx-2">
                  radio_button_unchecked
                  </span>Chiayi
              </div>
              <p>
                非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
              </p>
              <div class="d-flex align-items-center mt-auto">
                <span class="material-symbols-outlined fs-6 me-4">
                  radio_button_unchecked
                  </span><span class="material-symbols-outlined fs-6 me-4">
                    radio_button_unchecked
                    </span>ALPHABOX+ Felix
              </div>
            </div>
          </li>
          <!-- card-3 -->
          <li class="col-4 list-item">
            <div class="card bg-primary p-7">
              <div class="d-flex align-items-center mb-6">
                云<span class="material-symbols-outlined fs-8 mx-2">
                  radio_button_unchecked
                  </span>Taipei
              </div>
              <p>
                我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
              </p>
              <div class="d-flex align-items-center mt-auto">
                <span class="material-symbols-outlined fs-6 me-4">
                  radio_button_unchecked
                  </span><span class="material-symbols-outlined fs-6 me-4">
                    radio_button_unchecked
                    </span>ALPHABOX+ Dianne
              </div>
            </div>
          </li>
        </ul>
        <div class="row mb-9">
          <div class="col-8">
            <hr>
          </div>
          <div class="col-auto">
            SCROLL
          </div>
        </div>
        <!--  -->
        <div>若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</div>
      </div>
    </div>

    <!-- 聯絡我們 -->
    <div class="bg-dark-2 text-white fw-bold py-8">
      <div class="container py-9">
        <div class="row">
          <div class="col-5">
            <h3 class="h3 letter-spacing-L mb-4">聯絡我們</h3>
            <hr class="mb-8 w-25">
            <p>
              讓科技成為您的最佳夥伴<br>
              立即體驗神奇功能並享限時優惠！
            </p>
          </div>
          <div class="col-7">
            <span class="material-symbols-outlined fs-2 mb-4">
              emergency
              </span>
              <form action="">
                <input type="email" placeholder="EMAIL">
                <!-- <input type="text" placeholder="COMMENTS"> -->
                <textarea name="" id="" rows="4" placeholder="COMMENTS"></textarea>
                <button class="btn btn-primary">送出</button>
              </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ai card-list -->
    <ul class="ai-card-list text-white list-unstyled d-flex mb-0">
      <!-- 1 -->
      <li class="list-item w-25 border-end">
        <a href="javascript:;" class="d-block px-7 py-8">
          <div class="text-Saira fs-400 text-center mb-4">1</div>
          <div class="text-Shrikhand fs-4 text-center mb-9">Diane</div>
          <div class="fw-bold">知識型</div>
          <div class="d-flex justify-content-between align-items-center">
            學術領導/知識分享/智能問答<img src="../assets/images/line_end_arrow_notch.png" alt="" class="ms-auto">
          </div>
        </a>
      </li>
      <!-- 2 -->
      <li class="list-item w-25 border-end">
        <a href="javascript:;" class="d-block px-7 py-8">
          <div class="text-Saira fs-400 text-center mb-4">2</div>
          <div class="text-Shrikhand fs-4 text-center mb-9">Felix</div>
          <div class="fw-bold">娛樂型</div>
          <div class="d-flex justify-content-between align-items-center">
            音樂播放/語音互動/遊戲陪伴<img src="../assets/images/line_end_arrow_notch.png" alt="" class="ms-auto">
          </div>
        </a>
      </li>
      <!-- 3 -->
      <li class="list-item w-25 border-end">
        <a href="javascript:;" class="d-block px-7 py-8">
          <div class="text-Saira fs-400 text-center mb-4">3</div>
          <div class="text-Shrikhand fs-4 text-center mb-9">Karina</div>
          <div class="fw-bold">生活型</div>
          <div class="d-flex justify-content-between align-items-center">
            健康提醒/日程安排/智能家居<img src="../assets/images/line_end_arrow_notch.png" alt="" class="ms-auto">
          </div>
        </a>
      </li>
      <!-- 4 -->
      <li class="list-item w-25 border-end">
        <a href="javascript:;" class="d-block px-7 py-8">
          <div class="text-Saira fs-400 text-center mb-4">4</div>
          <div class="text-Shrikhand fs-4 text-center mb-9">Vito</div>
          <div class="fw-bold">情感型</div>
          <div class="d-flex justify-content-between align-items-center">
            情感識別/心情分析/心靈支持<img src="../assets/images/line_end_arrow_notch.png" alt="" class="ms-auto">
          </div>
        </a>
      </li>
    </ul>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
