<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+</title>
    <link rel="shortcut icon" href="../assets/images/favicon.ico" />
  </head>
  <body class="position-relative bg-black">
    <%- include('./layout/nav'); -%>

    <!-- News -->
    <div class="bg-gradient-dark text-white pt-10 pb-9">
      <div class="container">
        <div class="row mb-7">
          <div class="col-8 ms-auto">
            <h3 class="h3 letter-spacing-L fw-bolder">最新消息</h3>
          </div>
        </div>
        <!-- main -->
        <div class="row mb-5">
          <!-- img -->
          <div class="col-4">
            <a href="news.html" class="d-block py-4"><span class="material-symbols-outlined me-2">
              north_west
              </span>返回</a>
            <img src="../assets/images/news/news_in.png" alt="news圖片ㄧ" class="img-fluid">
          </div>
          <!-- info -->
          <div class="col-8 border-top border-bottom border-white d-flex flex-column justify-content-center px-4">
            <div class="letter-spacing-L mb-2">
              <span class="material-symbols-outlined fs-5 me-4">
              emergency
              </span>2023.06.30
            </div>
            <div class="letter-spacing-L fs-5 mb-3">產品升級公告</div>
            <div class="fw-light">
              <p class="mb-3">親愛的客戶們：</p>
              <p class="mb-3">我們榮幸地向您宣布，經過不懈的努力與研發，ALPHABOX+ 已成功完成最新一代的升級！這次的升級將為您帶來更高的投影解析度、更精準的語音辨識技術，以及更豐富的情感識別功能。我們致力於為您打造最佳的陪伴機器人，讓科技更貼近您的生活。</p>
              <p class="mb-3">在這次升級中，我們提升了投影解析度，讓影像更加清晰細緻，呈現出更真實的視覺效果。您將能夠更加享受在家中觀看高清影片或欣賞美景的樂趣。同時，我們優化了語音辨識技術，使機器人能更迅速且準確地識別您的聲音指令，提高互動體驗。</p>
              <p class="mb-3">此外，我們增加了情感識別功能，使得機器人能更好地理解您的情緒，並根據您的需求提供適當的陪伴與支持。無論您需要傾聽、建議還是安慰，ALPHABOX+ 都將成為您身邊的貼心夥伴。</p>
              <p class="mb-3">為感謝您一直以來對我們的支持，我們將在本月舉辦限時優惠活動，凡購買升級版3D立體投影陪伴機器人的客戶，均可享有九折優惠。機會難得，千萬不要錯過喔！</p>
              <p class="mb-3">在未來的日子裡，我們將繼續投入研發，並積極採納用戶意見，以不斷完善產品功能並提高使用體驗。同時，我們承諾會為您提供優質的售後服務，確保您在購買與使用過程中得到全面支持。</p>
              <p class="mb-3">再次感謝您對我們的信任與支持，讓我們攜手共創更美好的未來！若您對升級版3D立體投影陪伴機器人有任何疑問或建議，請隨時與我們的客服團隊聯繫，我們將竭誠為您解答。</p>
              <p class="mb-3">敬祝 興旺發達！</p>
              <p class="mb-3">ALPHABOX+ 團隊敬上</p>
            </div>
          </div>
        </div>
        <!-- 下方箭頭 -->
        <div class="row mb-8">
          <div class="col-8 px-0 ms-auto d-flex justify-content-between">
            <a href="javascript:;" class="fs-7 letter-spacing-L">
              <img src="../assets/images/news/line_end_arrow_notch-news.png" alt="箭頭">
              限時優惠活動
            </a>
            <a href="javascript:;">
              <img src="../assets/images/news/line_end_arrow_notch-news-2.png" alt="箭頭">
            </a>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
