<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+</title>
    <link rel="shortcut icon" href="../assets/images/favicon.ico" />
  </head>
  <body class="position-relative bg-black">
    <%- include('./layout/nav'); -%>
    <%- include('./layout/product-nav', {page: "Karina"}); -%>

    <!-- banner -->
    <div class="container-fluid text-white bg-black product-banner position-relative bg-danger">
      <div class="row align-items-center g-0">
        <!-- 圖 -->
        <div class="col-6">
          <!-- 輪播 (Carousel) -->
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../assets/images/karina_square1.png" class="d-block w-100" alt="Karina 照片">
              </div>
              <div class="carousel-item">
                <img src="../assets/images/karina_square2.png" class="d-block w-100" alt="Karina 照片">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="material-symbols-outlined fs-2">
                arrow_circle_left
                </span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="material-symbols-outlined fs-2">
                arrow_circle_right
                </span>
            </button>
          </div>
        </div>
        <!-- 字 -->
        <div class="col-6 ps-7">
          <h2 class="h2 text-Shrikhand mb-5">Karina</h2>
          <div class="fw-bold">生活型</div>
          <div class="mb-4">健康提醒/日程安排/智能家居</div>
          <img src="../assets/images/line_end_arrow_notch-2.png" alt="箭頭">
        </div>
      </div>
      <!-- 圈圈 -->
      <div class="position-absolute start-50 top-70 translate-middle-x circle-wrap">
        <img src="../assets/images/Linked Path Group-2.png" alt="圈圈logo" class="circle">
        <span class="material-symbols-outlined position-absolute top-50 start-50 translate-middle fs-4">
          arrow_downward
          </span>
      </div>
    </div>

    <!-- 說明 -->
    <div class="bg-white">
      <div class="container pt-9">
        <div class="row justify-content-between mb-9">
          <div class="col-4">
            <div class="mb-6 fs-5">
              <span class="material-symbols-outlined me-4 fs-4">
                emergency
                </span>學術領導/知識分享/智能問答
            </div>
            <p>歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地向您介紹我們的最新力作 - 3D立體投影機器人 Felix！</p>
          </div>
          <div class="col-auto">
            ALPHABOX+
          </div>
        </div>
        <!-- info-list -->
        <ul class="row list-unstyled mb-0 info-list">
          <li class="col-4 mb-9"><a href="javascript:;" class="text-black">
            <h4 class="h6 mb-5">先進的3D投影技術</h4>
            <p>Karina 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
          </a></li>
          <li class="col-4 mb-9"><a href="javascript:;" class="text-black">
            <h4 class="h6 mb-5">人性化的互動設計</h4>
            <p>Karina 具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與 Karina 進行自然、流暢的對話。</p>
          </a></li>
          <li class="col-4 mb-9"><a href="javascript:;" class="text-black">
            <h4 class="h6 mb-5">豐富的應用場景</h4>
            <p>無論是家庭娛樂、教育培訓還是商業展示，Karina 都能夠輕鬆滿足您的需求，為您提供更多元的互動體驗。</p>
          </a></li>
          <li class="col-4 mb-9"><a href="javascript:;" class="text-black">
            <h4 class="h6 mb-5">高度自主性</h4>
            <p>Karina 具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。</p>
          </a></li>
          <li class="col-4 mb-9"><a href="javascript:;" class="text-black">
            <h4 class="h6 mb-5">簡單易用的操作界面</h4>
            <p>Karina 擁有直觀的操作界面，讓您可以輕鬆地掌握並運用它的各種功能。</p>
          </a></li>
        </ul>
      </div>
    </div>

    <!-- 使用分享 -->
    <div class="bg-gradient-dark text-white fw-bold">
      <div class="container py-10">
        <div class="row d-flex align-items-center mb-9">
          <h3 class="col-12 h3 letter-spacing-L mb-3">使用分享</h3>
          <p class="col-4 fw-light">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
        </div>
        <ul class="row share-list list-unstyled">
          <!-- card-1 -->
          <li class="col-4 list-item">
            <div class="card bg-primary p-7">
              <div class="d-flex align-items-center mb-6">
                Zichi<span class="material-symbols-outlined fs-8 mx-2">
                  radio_button_unchecked
                  </span>Kaohsiung
              </div>
              <p>
                自從家裡有了Felix，孩子們的學習興趣提高了不少，他們都喜歡透過Felix的3D立體投影來探索新知識，家庭氛圍變得更加和樂融融！
              </p>
              <div class="d-flex align-items-center mt-auto">
                <span class="material-symbols-outlined fs-6 me-4">
                  radio_button_unchecked
                  </span><span class="material-symbols-outlined fs-6 me-4">
                    radio_button_unchecked
                    </span>ALPHABOX+ Felix
              </div>
            </div>
          </li>
          <!-- card-2 -->
          <li class="col-4 list-item text-black">
            <div class="card p-7">
              <div class="d-flex align-items-center mb-6">
                Lee <span class="material-symbols-outlined fs-8 mx-2">
                  radio_button_unchecked
                  </span>Chiayi
              </div>
              <p>
                自從公司引入 Felix，員工的工作效率提升了很多。Felix 不僅能快速回應我們的需求，還可以協助我們做各種商業展示，真的是企業的好幫手！
              </p>
              <div class="d-flex align-items-center mt-auto">
                <span class="material-symbols-outlined fs-6 me-4">
                  radio_button_unchecked
                  </span><span class="material-symbols-outlined fs-6 me-4">
                    radio_button_unchecked
                    </span>ALPHABOX+ Felix
              </div>
            </div>
          </li>
          <!-- card-3 -->
          <li class="col-4 list-item">
            <div class="card bg-primary p-7">
              <div class="d-flex align-items-center mb-6">
                瑞<span class="material-symbols-outlined fs-8 mx-2">
                  radio_button_unchecked
                  </span>Taipei
              </div>
              <p>
                Felix 讓教學變得更生動有趣，學生們在課堂上的參與度和學習效果都有顯著提升。我非常推薦Felix給所有的教育工作者！
              </p>
              <div class="d-flex align-items-center mt-auto">
                <span class="material-symbols-outlined fs-6 me-4">
                  radio_button_unchecked
                  </span><span class="material-symbols-outlined fs-6 me-4">
                    radio_button_unchecked
                    </span>ALPHABOX+ Felix
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
