<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+</title>
    <link rel="shortcut icon" href="../assets/images/favicon.ico" />
  </head>
  <body class="position-relative bg-black">
    <%- include('./layout/nav'); -%>

    <!-- Sign In -->
    <div class="bg-radial-gradient-dark text-white">
      <div class="container py-8 py-md-10 position-relative">
        <!-- 圈圈 -->
        <div class="row position-absolute w-100 top-0 pt-9 pt-md-7">
          <div class="col-auto col-md-2 mx-auto pt-7 pt-md-0">
            <img src="../assets/images/circle.png" alt="圈圈logo" class="img-fluid circle animation-Rotate">
          </div>
        </div>
        <!-- 登入 -->
        <h3 class="h2 letter-spacing-L mb-5 fw-bolder mb-10 mb-md-0">登入</h3>
        <div class="row">
          <div class="col-md-4 mx-auto mt-9 mt-md-0">
            <div class="text-Shrikhand fs-4 mb-6 text-center">ALPHABOX+</div>
            <button class="btn btn-outline-white rounded-pill w-100 mb-4 fw-light"><span class="me-2 fs-5"></span>Continue with Apple</button>
            <button class="btn btn-outline-white rounded-pill w-100 mb-6 fw-light"><img src="../assets/images/google.png" alt="google logo" class="me-2 d-inline-block">Continue with Google</button>
            <!-- 表格 -->
            <form action="" class="Sign-form d-flex flex-column">
              <input type="email" placeholder="EMAIL" class="w-100 mb-4 py-2 px-4 rounded-0 border-0 fw-bold fs-5">
              <input type="password" placeholder="密碼" class="w-100 mb-5 py-2 px-4 rounded-0 border-0 fw-bold fs-5">
              <button class="btn btn-primary w-100 mb-2"><span class="material-symbols-outlined me-1">
                point_scan
                </span>立即登入
              </button>
              <p class="fw-light text-end"><a href="SignIn.html" class="ms-1 text-decoration-underline">忘記密碼</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
